:root {
  --gingerbread-brown: #945900;
  --dark-gingerbread-brown: #6d4100;
  --frosting-white: #fff6e8;
}

html {
  height: 100%;
}

body {
  margin: 0px;
  background-color: red;
  font-family: 'Comic Sans MS', 'Comic Sans';
  color: var(--frosting-white);
  height: 100%;
}

#root {
  margin: 0;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

header, footer {
  background-color: var(--gingerbread-brown);
  border: 5px solid var(--frosting-white);
  border-radius: 0.5em;
  text-align: center;
}

h1, h2, h3, h4 {
  margin: 0.25em;
  text-align: center;
}

ul {
  margin: 0 0 1rem 0;
}

p {
  margin: 0.5em auto;
  font-size: 1.25em;
  width: 75%;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin: 0.5em 0px;
}

a, button {
  color: var(--frosting-white);
  transition: 0.5s;
  text-decoration: none;
}

a:hover {
  font-size: 1.25em;
}

nav a {
  width: 20%;
  padding: 0.5em;
  text-align: center;
  background-color: var(--dark-gingerbread-brown);
  border: 2px solid var(--frosting-white);
  border-radius: 0.5em 0;
}

main {
  background-color: var(--dark-gingerbread-brown);
  margin: 0px auto;
  width: 75%;
  border-left: 0.5em ridge var(--frosting-white);
  border-right: 0.5em ridge var(--frosting-white);
  height: 100%;
  padding-bottom: 1rem;
}

article {
  background-color: var(--gingerbread-brown);
  padding: 1.5em 2em;
  margin: 1.5rem 3rem 0;
  border: 5px dotted var(--dark-gingerbread-brown);
}

img {
  border-radius: 0.5em;
  border: 5px dotted var(--frosting-white);
  width: 400px;
  max-width: 100%;
  max-height: 600px;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  object-fit: cover;
}

.card {
  display: flex;
  flex-direction: row;
  border-radius: 1em;
}

.card-details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

button, .card-details a {
  background-color: var(--gingerbread-brown);
  color: inherit;
  font-family: inherit;
  font-size: 1.5em;
  padding: 0.25em 0.5em;
  max-height: 4rem;
  border: 3px dotted var(--dark-gingerbread-brown);
}

button:hover, .card-details a:hover {
  font-size: 1.75em;
}

.card-details a {
  background-color: var(--dark-gingerbread-brown);
  border: 3px dotted var(--gingerbread-brown);
  border-radius: 0.5em;
}

.slide-nav {
  text-align: center;
  padding: 0.5em;
}

.slide-map {
  margin: 0 0.5em;
}

.tallmanometer {
  background-color: gray;
  border: 5px outset #AAA;
  font-family: 'Monospace', 'Lucida Console';
  text-align: center;
  padding: 0.5em;
  position: relative;
  margin-top: 3em;
}

.tallmanometer-button {
  width: 0.5rem;
  height: 3rem;
  background-color: red;
  border: 3px outset red;
  position: absolute;
  left: -1rem;
  top: 1.5rem;
}

.tallmanometer-antenna {
  width: 0.25rem;
  height: 4.5rem;
  background-color: #222;
  border: 3px outset #333;
  position: absolute;
  right: 2rem;
  top: -5rem;
}

.tallmanometer-antenna-bulb {
  width: 1rem;
  height: 1rem;
  background-color: red;
  border-radius: 0.5rem;
  border: 2px outset red;
  position: absolute;
  right: 1.75rem;
  top: -5.5rem;
}

meter {
  width: 80%;
  height: 2rem;
}

table {
  text-align: right;
}

th, td {
  padding: 0.25em 1em;
}

th {
  text-align: center;
}

tr:last-of-type {
  font-weight: bold;
  text-decoration: underline;
}

.right {
  text-align: right;
}

.active {
  text-decoration: underline;
}

.slideshow {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 90%;
}
